.homeBody {
  padding-top: 20px;
}
.bodyWrapper {
  width: 100%;
  padding-top: 50px;
  padding: 0 15px;
  margin: 0 auto;
}
.liveChatClientWrapper {
  position: fixed;
  z-index: 99;
  bottom: 50px;
  right: 50px;
}
@media (min-width: 900px) {
  .bodyWrapper {
    width: 900px;
  }
  .bodyWrapper {
    padding-top: 0;
  }
}

@media (min-width: 1200px) {
  .bodyWrapper {
    width: 1200px;
  }
}